/* h1要素に適用するスタイル */
h1{
    color: white;
    background-color: midnightblue;
    font-size: 32px;
    text-align: center;
}
/* h3要素に適用するスタイル */
h3{
    background-color: deepskyblue;
    color : white;
    text-align: center;
    line-height: 100px;
}
/* p要素に適用するスタイル */
p{
    color: white;
    background-color:#3776AB;
    text-align: center;
}