/* 6つのp要素に適用するスタイルを宣言 */
.bace{
    background-color: blue;
    color : white;
}
.bace-y{
    background-color: blue;
    color: yellow;
}

.bace-r{
    background-color: blue;
    color: red;
}
/* 6つのli要素に適用するスタイルを宣言 */
li{
    font-size: 16px; 
}
.li-yellow{
    color: yellow;
    background-color: burlywood;
}
.li-blue{
    color: blue;
    background-color: burlywood;
}
.li-red{
    color: red;
    background-color: green;
}
.li-green{
    color: green;
    background-color: burlywood;
}